/* vamos falar de position

    position: static (padrao) Nao aceitas valores de top, bottom, right e left
    position: fixed - fixa o elemento na tela vc pode determinar o local da pagina onde ele vai ficar fixo.
    position: sticky age como u adesivo, fixa o elemnto so onde eu determinar
    position: relative posicao relativa a posição inicial dele, mas vc tem que especificar o top botton left right
    position: absolute posição absoluta (fixa) a algum elemento ou a sua pagina
                - SE não tiver pai / pai for static - posiciona referente a pagina
                - Se o pai Não for static -posiciona referente ao pai

    Propriedades
        - top
        - bottom
        - left
        - right
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;/*medida com 2 telas de altura*/
    width: 200vw;/*medida com 2 telas de largura*/
}
.div-dad {
    height: 350px;
    width: 350px;
    background-color: #ff1396;
}

.div-son {
    height: 150px;
    width: 150px;
    background-color: #ffff00;
}
.tananana {
    background: #ff0000;
    height: 100px;
    width: 100px;
}